@import url('https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-literata: 'Literata', serif;
}
